* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


body, html {
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

select {
    outline: none;
}

.modal {
    margin: unset !important;
    padding: unset !important;
}

.modal>*>* {
    margin: unset !important;
    padding: unset !important;
}

.title_font {
    font-size: 25px;
    font-weight: 700;
    --n: 45;
}

.content_font {
    font-size: 15px;
}

.btn-dark:hover {
    background-color: transparent;
    color: black;
    transition: 0.4s;
    font-size: 21px;
}

.container {
    max-width: unset !important;
}

.header_background {
    min-height: 800px;
    background: white;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
}

.icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.icons a {
    margin: 10px !important;
    border-radius: 50%;
    border: 2px solid black;
}

.icon {
    margin: 7px !important;
    color: black;
    width: 25px;
    height: 25px;
}

.icon:hover {
    background-color: white;
    color: white;
    transition: 0.4s;
}

.icons a:hover .icon {
    background-color: transparent;
    color: white;
    transition: 0.4s;
}

.icons a:hover {
    background-color: transparent;
    transition: 0.4s;
    background-color: black;
}

.header_name_content h2 {
    font-size: 20px;
}

.type {
    color: #0000;
    background:
        linear-gradient(black 0 0) 0 50%/150% 95%,
        linear-gradient(black 0 0) 0 0 /100% 100%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    animation:
        t 1s forwards,
        b 1s .8s forwards;
}

@media screen and (min-width: 576px) {
    .header_name_content h2 {
        font-size: 30px;
    }

    .title_font {
        font-size: 30px;
    }

    .content_font {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .header_name_content h2 {
        font-size: 40px;
    }

    .title_font {
        font-size: 40px;
        font-weight: 700;
    }

    .content_font {
        font-size: 17.5px;
    }
}

@media screen and (min-width: 992px) {
    .icons {
        justify-content: flex-end;
    }

    .icons a {
        margin-left: 10px !important;
    }

    .title_font {
        font-size: 45px;
        font-weight: 700;
    }

    .content_font {
        font-size: 20px;
    }
}

.visitor_chatbot {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 60000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
}

.visitor_chatbot_toggle {
    background: #111111;
    color: #ffffff;
    border: none;
    border-radius: 999px;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.visitor_chatbot_panel {
    width: min(340px, calc(100vw - 40px));
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0px 16px 36px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: none;
}

.visitor_chatbot_panel.open {
    display: block;
}

.visitor_chatbot_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    background: #111111;
    color: #ffffff;
}

.visitor_chatbot_header h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    margin: 0;
}

.visitor_chatbot_close {
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;
}

.visitor_chatbot_body {
    padding: 16px;
}

.visitor_chatbot_message {
    padding: 10px 12px;
    border-radius: 12px;
    font-size: 14px;
    margin-bottom: 12px;
}

.visitor_chatbot_message.bot {
    background: #f1f1f1;
    color: #111111;
}

.visitor_label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0 6px;
}

#visitor_chatbot_form input,
#visitor_chatbot_form select {
    width: 100%;
}

#visitor_chatbot_form select {
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(179, 179, 179);
    padding: 0px 12px;
    background-color: #ffffff;
}

#visitor_chatbot_form select:focus {
    outline: 5px solid rgb(179, 179, 179, 0.7);
    transition: 0.4s;
}

.visitor_chatbot_actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 14px;
}

.visitor_chatbot_skip {
    border: 1px solid #111111;
    background: transparent;
    color: #111111;
    border-radius: 999px;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
}

.visitor_chatbot_thanks {
    display: none;
    margin-bottom: 0;
}

.visitor_chatbot_panel.submitted #visitor_chatbot_form {
    display: none;
}

.visitor_chatbot_panel.submitted .visitor_chatbot_thanks {
    display: block;
}

@keyframes t {
    from {
        background-size: 0 95%, 0 100%
    }
}

@keyframes b {
    100% {
        background-position: -200% 50%, 0 0
    }
}

.project_image {
    height: 250px;
    border-radius: 20px;
    background-color: #E7F5FE;
}

#portfolio img {
    /* Shadow */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    /* Border */
    border-radius: 42px;
    overflow: hidden;
    margin-bottom: 15px;
}

.project_description {
    line-height: 3.5ex;
    max-height: 10.5ex;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.read_more {
    text-decoration: none;
    background: linear-gradient(#0086ce, #0086ce) bottom / 0 .1em no-repeat;
    transition: 0.5s;
    background-position: left bottom;
    color: black;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 300;
}

.read_more:hover {
    background-size: 100% .1em;
    color: #005e91;
    font-weight: 400;
}

.form_container {
    border-radius: 20px;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

input {
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(179, 179, 179);
    outline: none;
    padding: 0px 12px;
}

textarea {
    min-height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(179, 179, 179);
    outline: none;
    padding: 10px 12px;
}

input:focus,
textarea:focus {
    outline: 5px solid rgb(179, 179, 179, 0.7);
    transition: 0.4s;
}

.modal-body {
    max-height: 500px;
    overflow: scroll;
}

/* Remove padding to px-5 class in small screens */
@media screen and (max-width: 575px) {
    .px-5 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

#portfolio h3,
#contact h3,
#recommendations h3,
#admits h3 {
    font-size: 33px;
    font-weight: 800;
    text-decoration: underline;
}

.modal a {
    border-bottom: 0.5px solid black;
}

.glider-dot.active {
    background-color: black;
}

.glider::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.stop-scrolling {
    overflow: hidden;
}

#admits img {
    opacity: 0.5;
    transform: scale(1);
    transition: 0.5s;
}

#admits img:hover {
    opacity: 1;
    transform: scale(1.3);
    transition: 0.5s;
}

.border-radius-30 {
    border-radius: 30px;
}

#form_loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.467);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50000;
    top: 0;
    visibility: hidden;
}

noscript iframe {
    display: none;
    visibility: hidden;
}

.filter_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
}

.filter_active {
    background-color: black;
    color: white;
    transition: 0.4s;
}

#filter_select {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 15px, 100%;
}

@media screen and (min-width: 768px) {
    #filter_select_parent {
        visibility: hidden;
        height: 0px;
    }
}

@media screen and (max-width: 767px) {
    #filter_button_parent {
        visibility: hidden;
        height: 0px;
    }
}

.visitor_gate {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #f6f6f6 0%, #e7eef5 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 60000;
    padding: 24px;
}

.visitor_gate.hidden {
    display: none;
}

.visitor_card {
    width: min(520px, 100%);
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.18);
    padding: 32px;
    position: relative;
}

.visitor_card h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    margin-bottom: 8px;
}

.visitor_subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.visitor_label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0 6px;
}

#visitor_gate_form input,
#visitor_gate_form select {
    width: 100%;
}

#visitor_gate_form select {
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(179, 179, 179);
    padding: 0px 12px;
    background-color: #ffffff;
}

#visitor_gate_form select:focus {
    outline: 5px solid rgb(179, 179, 179, 0.7);
    transition: 0.4s;
}

#visitor_gate_submit {
    width: 100%;
    margin-top: 18px;
}

.visitor_note {
    font-size: 12px;
    color: #555555;
    margin-top: 12px;
    text-align: center;
}

.visitor_close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: #111111;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    padding: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.visitor_close::before {
    content: "\00d7";
    font-size: 26px;
    line-height: 1;
    position: relative;
    top: -1px;
}

.visitor_close:hover {
    background: #333333;
}

.visitor_close:focus-visible {
    outline: 3px solid #8bbcff;
    outline-offset: 2px;
}